body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6dc1b0 !important;
}

header {
  background-color: rgba(4, 67, 62, 0.843);
  color: #fff;
  padding: 20px;
  text-align: center;
}

#welcome-section {
  background-color: #6dc1b0;
  color: #fff;
  padding: 40px;
  margin-bottom: 20px;
  text-align: center;
}

#welcome-section p {
  font-size: 20px;
  margin: 20px 0;
}

main {
  background-color: white !important;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid rgba(4, 67, 62, 0.843);
  border-radius: 10px;
}

h2 {
  color: #333;
}

#movie-list,
#add-movie {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

form {
  display: grid;
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

button.btn-primary,
button.btn-secondary {
  background-color: #04423dd7;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button.btn-primary:hover,
button.btn-secondary:hover,
body .navbar button:hover {
  background-color: #006c65 !important;
}

body .navbar {
  background-color: rgb(110, 194, 177) !important;
}

body .navbar button {
  border-radius: 4px;
  background-color: rgba(4, 66, 61, 0.843);
  color: #fff;
}

body .navbar form {
  display: flex;
  justify-content: center;
  width: 100%;
}

body .navbar .container-fluid {
  display: flex;
  justify-content: center;
}

body .navbar .container-fluid .d-flex {
  width: 100%;
  max-width: 400px;
}
