body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(4, 66, 61, 0.843);
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
}

h2 {
  color: #333;
}

#movie-list,
#add-movie,
#movie-details {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

form {
  display: grid;
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button.btn-primary,
button.btn-secondary {
  background-color: rgba(4, 66, 61, 0.843);
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button.btn-primary:hover,
button.btn-secondary:hover {
  background-color: #006c65 !important;
}
