body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6dc1b0 !important;
}

header {
  background-color: rgba(4, 67, 62, 0.843);
  color: #fff;
  padding: 20px;
  text-align: center;
}

#welcome-section {
  background-color: #6dc1b0;
  color: #fff;
  padding: 40px;
  text-align: center;
}

#welcome-section article {
  max-width: 800px;
  margin: 0 auto;
}

#welcome-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#welcome-section p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 30px;
}

#welcome-section nav {
  margin-top: 20px;
}

.form-control.custom-border-Nav {
  border-color: rgba(4, 67, 62, 0.843) !important;
}

.btn-outline-success {
  background-color: transparent;
  border-color: rgba(4, 67, 62, 0.843);
  color: #fff;
}

.btn-outline-success:hover {
  background-color: rgba(4, 67, 62, 0.843);
  color: #fff;
}

main {
  background-color: white !important;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 3px solid rgba(4, 67, 62, 0.843);
  border-radius: 10px;
}

#movie-list,
#add-movie {
  margin-bottom: 20px;
}

.custom-border-card {
  max-width: 800px;
  margin: 0 auto;
  border: 3px solid rgba(4, 67, 62, 0.843) !important;
  border-radius: 10px;
  padding: 10px;
}

.custom-border-Nav {
  border: 3px solid rgba(4, 67, 62, 0.843) !important;
}

h2 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

form {
  display: grid;
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px !important;
}

button.btn-primary,
button.btn-secondary {
  background-color: rgba(4, 66, 61, 0.843);
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px !important;
}

button.btn-primary:hover,
button.btn-secondary:hover {
  background-color: #006c65 !important;
}

body .navbar {
  background-color: rgb(110, 194, 177) !important;
}

body .navbar form {
  display: flex;
  justify-content: center;
  width: 100%;
}

body .navbar .container-fluid {
  display: flex;
  justify-content: center;
}

body .navbar .container-fluid .d-flex {
  width: 100%;
  max-width: 400px;
}

.custom-border-color {
  border-color: rgba(4, 67, 62, 0.843) !important;
}

#movie-list .comment-list .list-group-item {
  border-color: rgba(4, 67, 62, 0.843) !important;
  border-top: 1px solid rgba(4, 67, 62, 0.843) !important;
  border-radius: 10px !important;
}

button.btn-outline-success {
  background: none !important; 
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.btn-outline-success i {
  /* Style the search icon */
  font-size: 18px;
  color: rgba(4, 67, 62, 0.843);
}

.custom-border-color {
  border-color: rgba(4, 67, 62, 0.843) !important;
}

/* icon to the right */
form.d-flex {
  position: relative;
}

input.form-control {
  padding-right: 40px;
  padding-bottom: 10px;
}

button.btn-outline-success {
  position: absolute;
  right: 10px;
}
